header {
    display: flex;
    height: 6rem;
    justify-content: space-between;
    box-shadow: 0 5px 20px rgba(#011627, 0.1);
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    background: #2EC4B6;
    transition: 0.4s;
    &.home {
        background: #FFFFFF;
        span {
            background: #011627 !important;
        }
        
    }
}

.header-behind {
    height: 6rem;
}

@media (max-width: 876px) {
    header {
        height: 4rem;
    }
    .header-behind {
        height: 4rem;
    }
}