header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    box-shadow: 0 3px 20px rgba(#343090, 0.3);
    align-items: center;
    position: relative;
    background: #FFFFFF;
}