div {
    width: 25px;
    height: 25px;
    line-height: 1.15;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    background: #2EC4B6;
    color: #FFFFFF;
}