.section--content {
    border-bottom: 1px solid #e5e5e5;
    .content-wrapper {
        padding: 4rem 2rem;
        p {
            margin: 0;
        }
    }
    
    .buttons-wrapper {
        display: flex;
        justify-content: flex-end;
        margin: 2rem;
        button+button {
            margin-left: 1rem;
        }
    }
    
    .post-user-info-wrapper {
        width: 100%;
        margin: 0 2rem 2rem;
        box-sizing: border-box;
        height: 8rem;
        display: flex;
        border: 1px solid #2EC4B6;
        background: #EFFFE9;
        align-items: center;
        img {
            display: block;
            padding: 1rem;
            max-height: 6rem;
            max-width: 6rem;
            border-radius: 50%;
        }
        .user-data {
            font-weight: 700;
            margin-left: 4rem;
            font-size: 1rem;
            .nickname {
                font-size: 1.25rem;
            }
            .email {
                margin-top: 0.5rem;
                font-weight: 400;
            }
            .phrase {
                margin-top: 0.5rem;
                font-weight: 600;
            }
        }
    }
}

@media (max-width: 876px) {
    .section--content {
        .content-wrapper {
            padding: 2rem 0;
        }
        .buttons-wrapper {
            margin: 1rem 0;
            display: block;
            button {
                width: 100%;
            }
            button+button {
                margin-left: 0;
                margin-top: 1rem;
            }
        }
        .post-user-info-wrapper {
            margin: 0 0 1rem;
            img {
                max-width: 4rem;
                max-height: 4rem;
            }
            .user-data {
                margin-left: 1rem;
                .nickname {
                    font-size: 1rem;
                }
                .email {
                    font-size: 0.8rem;
                }
                .phrase {
                    font-size: 0.8rem;
                }
            }
        }
    }
}