.dialog {
    padding: 1rem 2rem;
    border-radius: 1rem;
    background: #EFFFE9;
    margin-bottom: 1rem;
    margin-right: 1rem;
    animation-name: appear;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    button {
        float: right;
        margin: 0;
        padding: 0;
        border: none;
        background: rgba(white, 0);
    }
    h2 {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 700;
    }
    p {
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
    }
    &.warning {
        background: #E71D36;
        color: #FFFFFF;
    }
}

@keyframes appear {
    0% {
        display: block;
        opacity: 0.5;
    }
    15% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    } 
    85% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
@media (max-width: 876px) {
    .dialog {
        margin: 0.5rem;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        animation-duration: 3s;
    }
}
