input.text-input {
    border: none;
    background: #FFFFFF;
    border-radius: 2rem;
    font-size: 1.25rem;
    padding: 0.75rem 2rem;
    border: 2px solid rgba(#2EC4B6, 0.5);
    box-sizing: border-box;

    &:focus {
        outline: none;
        border: 2px solid #2EC4B6;
    }

    &.invalid {
        border: 2px solid #E71D36;
    }
}