a.logo {
    text-align: center;
    font-weight: 700;
    margin: 3rem 0;
    color: #FFFFFF;
    font-size: 3rem;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
        color: #EFFFE9;
    }
    
    &.home {
        color: #011627;
        &:hover {
            color: rgba(#011627, 0.7);
        }
    }
}