.user-info-wrapper {
    display: none;
    width: 16rem;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(#011627, 0.1);
    background: #FFFFFF;

    h3 {
        margin: 1rem auto;
        text-align: center;
        font-size: 1.25rem;
    }
    p {
        margin: 1rem auto;
        text-align: center;
        font-size: 1rem;
    }
    .user-info-button-wrapper {
        width: 100%;
        margin: 1rem auto;
        box-sizing: border-box;
        padding: 0 1rem;
        button {
            cursor: pointer;
            font-size: 1.25rem;
            line-height: 1;
            background: #2EC4B6;
            color: #EFFFE9;
            outline: none;
            border: none;
            display: block;
            width: 100%;
            font-weight: 700;
            height: 3rem;
            border-radius: 1.5rem;
            margin: 1rem 0;
            &.sign-out {
                background: #E71D36;
            }
        }
    }
    &.on {
        display: block;
        position: absolute;
        right: 1rem;
        top: 120%;
    }
}