.category-info-container {
    position: relative;
    margin: 4rem 0;
    h2 {
        font-size: 2rem;
        margin: 2rem 0;
        margin-left: 2rem;
    }
    button {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media (max-width: 876px) {
    .category-info-container {
        margin: 2rem 0;
        h2 {
            margin-left: 0;
        }
        button {
            position: relative;
            width: 100%;
        }
    }
}