.login-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner {
        width: 468px;
        height: auto;
        background: #FFFFFF;
        box-shadow: 0 3px 50px rgba(#343090, 0.3);
        border-radius: 2rem;
        padding: 1rem 0;
        
        h1 {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: center;
            margin: 3rem 0;
            color: #343090;
            font-size: 3rem;
        }
    }
}

