.post-container {
    padding-bottom: 10rem;
    .category {
        padding: 2rem;
        font-size: 1.5rem;
    }
    h1 {
        padding: 2rem;
        border-bottom: 1px solid #e5e5e5;
        margin: 0;
        .written-time {
            padding-top: 1rem;
            font-size: 1rem;
            text-align: end;
        }
    }   
}

@media (max-width: 876px) {
    .post-container {
        .category {
            padding: 1rem 0;
        }
        h1 {
            padding: 1rem 0;
            .written-time {
                font-size: 0.75rem;
            }
        }
    }
}